@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
  color: #fff;
}

::selection {
  background-color: rgb(0, 0, 0);
}

.currentIconPage svg {
  stroke: rgb(0, 0, 0);
  fill: rgb(0, 0, 0);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #000000;
}
